.main_container{
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;

}

.header {
    flex: 2;
    border: 1px solid white;
}

.tv_show_detail {
    flex: 2;
    border: 1px solid white;
}

.recommend_tv_shows {
    flex: 2;
    border: 1px solid white;
}